#heatmapContainer {
    width: 100%;
    // cursor: pointer;
     height: 100%;
    // bottom: 0;
    // padding: 0;
    // background-size: 100% 100%;
    // border-top: 1px solid #757575;
    // border-bottom: 1px solid #757575;
   // background-color: RED;
    position: relative;
    // .overlay {
    //   height: 100%;
    //   opacity: 0.5;
    //   background-color: #a0a0a0;
    // }
}